.title {
  text-align: center;
  color: orange;
  
}

.div{
  background-color: rgb(255, 255, 255);
  color: rgb(6, 114, 255);
  margin: auto;
  width: 200px;
  height: 200px;
  font-size: 130px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  
}

.button{
  text-align: center;
  padding: 4%;
}

.more{
  width: 130px;
  height: 55px;
  background-color: rgb(81, 255, 0);
  border-radius: 10px;
}

.less{
  width: 130px;
  height: 55px;
  background-color: rgb(255, 30, 0);
  border-radius: 10px;
}



